@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

button{
    cursor: pointer;
}

.neomorphism{
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff;
}

.h-align{
    display: flex;
    flex-direction: row;
}

.v-align{
    display: flex;
    flex-direction: column;
}

.h-center{
    justify-content: center;
}

.v-center{
   align-items: center;
}

.vh-center{
    align-items: center;
    justify-content: center;
}
.title{
    color: var(--main-color);
    font-weight: bold;
}



.close-btn:hover{
    background-color:#bbbbbb;

}

.close-btn{
    display: flex;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border-radius: 6px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

input[type="submit"]{
    cursor: pointer;
}
