@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}


:root {
    --main-color: #8856f6;
    --sub-color: #7234fa;
    --sec-color: #2a1067;
    --subsec-color: #210a58;
    --dark-color: #040824;
    --white-color: #ffffff;
    --gray-color: #878787;
    --red-color: #fc0352;
    --dark-gray: #454545;
    --min-gray: #bbbbbb;
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins';
    position: relative;
    overflow: hidden;
}


.content {
    width: 80%;
    height: 95%;
    margin-left: 1rem;
}

.pedido-container {
    width: 95%;
    padding: 1rem;
    border-radius: 30px;
    background-color: var(--white-color);
    max-height: 100%;
    overflow: hidden;
}

.pedido-container .actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-end;
    padding: 1rem;
    padding-bottom: 0.2rem;
}

.actions button {
    width: 100px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: 0;
    background-color: var(--main-color);
    color: #fff;
}

.pedido-container .status-action {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;

}

.pedido-container .status-action label {
    font-size: 0.8rem;
    border: 1px solid var(--main-color);
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.status-action input[type="radio"]{
    display: none;
}
.status-action .active {
    background-color: var(--main-color);
    color: var(--white-color);
}

#pedido-busca {
    padding: 0 1rem;
    height: 30px;
    border-radius: 30px;
    border: 1px solid var(--main-color);
    outline: 0;
}

.pedido-list {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    height: 80%;
    padding-bottom: 2rem;
    overflow: auto;
}

.pedido-list::-webkit-scrollbar {
    width: 3px;
}

.pedido-list::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid #efefef;
    /* creates padding around scroll thumb */
}

.pedido-tags {
    display: flex;
    gap: 0.5rem;
}

.pedido-tags p {
    background-color: #ededed;
    border-radius: 6px;
    padding: 0.2rem 0.5rem;

}

.pedido-card {
    padding: 0.5rem;
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--main-color);
    border-radius: 10px;
    width: 98%;
}

.pedido-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.pedido-card .pedido-info p {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    color: var(--dark-gray);
}

.pedido-card .pedido-info p i {
    color: var(--main-color);
}


.pedido-card .pedido-action {
    display: flex;
    gap: 0.3rem
}

.pedido-action button {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem 0.5rem;
    gap: 0.2rem;
    border: 0;
    border-radius: 6px;
    background-color: var(--main-color);
    color: var(--white-color);
}

/*.pedido-action button i {
    padding: 0.2rem;
    background-color: var(--white-color);
    border-radius: 50%;
    color: var(--main-color);
}

*/
.pedido-action .cancelar {
    background-color: var(--red-color);
}

.pedido-id {
    font-weight: bold;
}

.input-date{
    display: flex;
    border: 1px solid var(--main-color);
    border-radius: 60px;
    padding: 0.5rem;
}
.input-date input{
    border: 0;
    background: 0;
    outline: 0;
    width: 250px;
}
.input-date label{
    color: var(--main-color);
    cursor: pointer;
}

@media screen and (max-width: 1037px){
    .content{
        width: 85%;
    }

    .pedido-card{
        width: 95%;
    }

    .pedido-tags{
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1037px){
    .pedido-card{
        gap: 0.5rem;
        flex-wrap: wrap;
    }

    .status-action{
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 676px){

    .pedido-list{
        height: 70%;
    }

    .pedido-card .pedido-tags{
        display: none;
    }

    .pedido-pagamento{
        display: none;
    }

    .actions{
        flex-wrap: wrap; 
    }

    .actions input{
       width: 80%;
    }

}


